html body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    color: whitesmoke;
    font-family: 'Inconsolata', monospace;
    
}
body{
    background-image: url("./img/audience-1866738_1920.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.wrapper{
    margin-left: 7% ;
    margin-top: 5%;
    margin-bottom: 5%;
  }
  .btn{
      margin-left: 2%;
      margin-top: 2%;
      /* width: 40px; */
      background-color: #00000085;
      color: #4DD3FA;
    font-family: 'Inconsolata', monospace;
}
.team{
    font-weight: bold;
    font-size: 1.7rem;
    margin-top: 0%;
    margin-left: 0%;
    color: #4DD3FA;

}

.text{
    margin-left: 1%;
    font-size: 1.1rem;

}
.data{
    font-weight: bolder;   
    color: #4DD3FA;


}
.desc{
    margin: 0% 50% 0% 1%;
    /* overflow-y: scroll; */
    background-color: #000000a8;
    border-radius: 20px;
    /* max-height: 80vh; */
    padding: 3% 3%;
    word-break: break-word;

    
}
@media screen and (max-width: 768px) {
    .desc{
        margin: 0% 50% 0% 1%;
    }
}
@media screen and (max-width: 768px) {
    .desc{
        margin: 0% 20% 0% 1%;
    }
}
@media screen and (max-width: 428px) {
    .desc{
        margin: 0% 2% 0% 1%;
    }
    html body{
    font-size: 14px;
    }
}